attrs==19.3.0
click==7.1.2
dynaconf==3.0.0
flake8==3.8.3
flake8-annotations==2.3.0
imbalanced-learn==0.7.0
imblearn==0.0
importlib-metadata==1.7.0
iniconfig==1.0.1
joblib==0.16.0
mccabe==0.6.1
more-itertools==8.4.0
numpy==1.19.1
packaging==20.4
pandas==1.1.0
pendulum==2.1.2
pluggy==0.13.1
py==1.9.0
pycodestyle==2.6.0
pyflakes==2.2.0
pyparsing==2.4.7
pytest==6.0.1
python-dateutil==2.8.1
python-dotenv==0.14.0
pytz==2020.1
pytzdata==2020.1
scikit-learn==0.23.2
scipy==1.5.2
six==1.15.0
sklearn==0.0
threadpoolctl==2.1.0
toml==0.10.1
typed-ast==1.4.1
zipp==3.1.0
